<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
    <title>@ViewBag.Title</title>
</head>
    @RenderSection("Header",required:false)
    @RenderSection("Body", required: false)
    @RenderSection("Footer",required:false)
</html>
